


html {
    height: 100%;
    overflow: hidden;
}

body {
	background: linear-gradient(355deg, rgb(225 175 91) 0%, hsl(31deg 60% 42%) 100%);
    font-size: 8vw;
    color: wheat;
    height: 74%;
    font-family: serif;
    padding: 12.5vh 20vw;
}
